@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #ffffff;
    padding-left: 4%;
    padding-right: 4%;
}
#content{
    padding-top: 60px;
}
.btn1{
    border: none;
    padding: 5px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #d00000;
    cursor: pointer;
    transition: .6s;
}
.btn1:hover{
    background-color: #b34d4d;
}
.btn2{
    border: 1px solid #007235;
    padding: 5px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #007235;
    cursor: pointer;
    transition: .6s;
}
.btn2:hover{
    color: #007235;
    background-color: #ffffff;
}
#fb{
    color: #0021c6;
    font-size: 50px;
}
#pit{
    color: #c60000;
    font-size: 50px;
}
#wt{
    color: #007235;
    font-size: 50px;
}